<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Kate Golden</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Kate Golden</h1>
        <p>Investigative multimedia journalist</p>
        <img src="http://kategolden.org/images/kate-in-the-round.jpg" width="200"></img>
<div class="header-menu"><p><a href="http://kategolden.org/index.html">About</a><br>
<a href="http://kategolden.org/resume.html">Resume</a><br>
<a href="http://kategolden.org/radioclips.html">Radio clips</a><br>
<a href="http://wisconsinwatch.org/author/kgolden/">On WisconsinWatch.org</a></p></div>
      </header>
      <section>
{{ content }}
      </section>
      <footer>
        <p><a href="http://twitter.com/wiswatchkate">@wiswatchkate</a><br>
           <a href="mailto:kgolden@wisconsinwatch.org">kgolden@wisconsinwatch.org</a></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>